<body class="container-fluid">
      <h1>Ejercicio Conecci&oacute;n contra la Blockchain</h1>
      <h3>Creando nuestra primera dApp!</h3>
      <div class="table-responsive" ng-controller="controlVote">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Opciones</th>
              <th>Votos del candidato</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Carolina</td>
              <td id="option-1" ng-model="option1" > {{Carolina}} </td>
            </tr>
            <tr>
              <td>Mario</td>
              <td id="option-2" ng-model="option2"> {{Mario}} </td>
            </tr>
            <tr>
              <td>Leonardo</td>
              <td id="option-3" ng-model="option3"> {{Leonardo}} </td>
            </tr>
            <tr>
              <td>Joaquin</td>
              <td id="option-4" ng-model="option3"> {{Joaquin}} </td>
            </tr>
          </tbody>
        </table>

            <div class="col text-center">
              <!-- <input type="text" id="candidato" /> -->

              <div class="form-group">
                <label for="sel1">Seleccionar candidato:</label>
                <select class="form-control" id="sel1" ng-init="selectName = candidates[0]" ng-model="selectName" ng-options="x.name for x in candidates">
                </select>
              </div>

              <a name="guardar" ng-click="Guardar(selectName)" class="btn btn-primary">Votar candidato</a>
              </div>

      </div>


<!-- <div class="container-fluid">
        <div class="jumbotron">
          <h1> Oddbytes</h1>
          <h2>Cliente angular 1.6 con webpack 4</h2>
          <span>Hola Mica</span>
        </div>
      </div> -->